:root {
    --body-bg-color: var(--color-white);
    --body-text-color: var(--color-gray-700);
    --color-morning-glory-50: #f0fafb;
    --color-morning-glory-100: #d9f2f4;
    --color-morning-glory-200: #a1dbe2;
    --color-morning-glory-300: #87d0d9;
    --color-morning-glory-400: #4eb2c2;
    --color-morning-glory-500: #3396a7;
    --color-morning-glory-600: #2d7a8d;
    --color-morning-glory-700: #2a6474;
    --color-morning-glory-800: #2a5360;
    --color-morning-glory-900: #274652;
    --color-morning-glory-950: #152d37;

    .btn-morning-glory{
        --btn-bg-color: var(--color-morning-glory-400);
        --btn-border-color: var(--color-morning-glory-400);
        --btn-text-color: var(--color-white);
    }
    .btn-morning-glory:hover{
        --btn-bg-color: var(--color-morning-glory-500);
        --btn-border-color: var(--color-morning-glory-500);
    }
    .btn-morning-glory-icon{
        --btn-border-color: transparent;
        --btn-text-color: var(--color-black);
    }
    .btn-morning-glory-icon:hover{
        --btn-bg-color: var(--color-morning-glory-100);
        --btn-text-color: var(--color-morning-glory-600);
    }
    .btn-error-icon{
        --btn-border-color: transparent;
        --btn-text-color: var(--color-black);
    }
    .btn-error-icon:hover{
        --btn-bg-color: var(--color-error-400);
        --btn-text-color: var(--color-white);
    }
    .btn-warning-icon{
        --btn-border-color: transparent;
        --btn-text-color: var(--color-black);
    }
    .btn-warning-icon:hover{
        --btn-bg-color: var(--color-warning-300);
        --btn-text-color: var(--color-white);
    }
    .v-input:not(.v-input--no-ring).v-input-morning-glory{
        --v-input-effect-border-color: var(--color-morning-glory-300);
        --v-input-effect-shadow-color: var(--color-morning-glory-100);
    }
    .v-app-shell-content {
        background: var(--color-morning-glory-50);
    }
    .v-list-item{
        --v-list-item-hover-bg-color: var(--color-morning-glory-200);
    }
    .v-list>.router-link-active{
        background-color: var(--color-morning-glory-200);
    }
    .v-pagination-item--active, .v-pagination-item--active:hover{
        --v-pagination-item-bg-color: var(--color-morning-glory-400);
        --v-pagination-item-border-color: var(--color-morning-glory-400);
        --v-pagination-item-text-color: var(--v-pagination-item-active-text-color);
    }
    .v-table-td>svg.animate-spin{
        color: var(--color-morning-glory-400);
    }
    .v-tabs-morning-glory{
        --v-tabs-item-active-text-color: var(--color-morning-glory-400);
        --v-tabs-item-hover-text-color: var(--color-morning-glory-400);
        --v-tabs-slider-bg-color: var(--color-morning-glory-400);
        --v-tabs-slider-border-color: var(--color-morning-glory-400);
    }
    .ck{
        height: 10rem;
    }
    .ck.ck-editor__editable.ck-focused:not(.ck-editor__nested-editable):focus{
        border: 1px solid var(--color-morning-glory-300);
    }
}


body {
  background: var(--body-bg-color);
  color: var(--body-text-color);

  @apply transition-colors duration-300;
}
.v-tabs-morning-glory{
    --v-tabs-item-active-text-color: var(--color-morning-glory-400);
    --v-tabs-item-hover-text-color: var(--color-morning-glory-400);
    --v-tabs-slider-bg-color: var(--color-morning-glory-400);
    --v-tabs-slider-border-color: var(--color-morning-glory-400);
}

.dark {
  body {
    --body-bg-color: var(--color-gray-true-900);
    --body-text-color: var(--color-gray-true-200);
  }
  .v-list-item{
    --v-list-item-hover-bg-color: var(--color-morning-glory-200);
    }
    .v-list>.router-link-active{
        --v-list-item-bg-color: var(--color-morning-glory-200);
    }

  .v-app-shell-content {
    background: #333;
}

  // change default app bar dark mode bg color
  // .app-bar-default {
  //   --app-bar-bg-color: theme('colors.neutral.900') !important;
  // }
}
